extends layout

block content
    form(method='POST' action='/new')
        h1(class='titleMessage') New Message 
        input(type='text' name='name' placeholder='Name')
        input(type='text' name='message' placeholder='Enter new message')
        button(type='submit') Submit