extends layout

block content
  a(href="/new")
    button(type="button") New Message
  h1= title

  ul(class='userMessages')
    each user in messages
      li(class='userMessage')
        h2= user.user
        p= user.text
        small= user.added