extends layout

block content
  h1(class='titleMessage')= title

  div(class='messageBoard')
    a(href="/new")
      button(type="button") New Message
    ul(class='userMessages')
      each user in messages
        li(class='userMessage')
          h2= user.user
          p= user.text
          small= user.added