extends layout

block content
  a(href="/new")
    button(type="button") New Message
  h1= title

  each user in messages
    div(class='userMessage')
      h2= user.user
      p= user.text
      small= user.added