* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: #F8F0DF;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  height: 100vh;
  width: 100vw;
}

.titleMessage {
  font-size: 30px;
  padding: 50px;
}

/* New Message Button */
.messageBoard button {
  background-color: #79B4B7;
  border: 1px solid #9D9D9D;
  border-radius: 10px;
  color: #FEFBF3;
  cursor: pointer;
  font-size: 19px;
  padding: 5px;
}

/* Message Board */
.messageBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;

  padding-bottom: 25px;
  height: 100%;
  width: 100%;
}

.userMessages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  list-style: none;
}

.userMessage {
  background-color: #FEFBF3;
  box-shadow: 5px 5px 15px -7px #9D9D9D;
  padding: 15px;

  width: 550px;
}

.userMessage h2 {
  color: #79B4B7;
  border-bottom: 2px solid #9D9D9D;
  font-size: 22px;
  margin-bottom: 15px;
}

.userMessage p {
  font-size: 16px;
  padding: 10px;
}

.userMessage small {
  color: #9D9D9D;
  padding-left: 10px;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  height: auto;
  width: 550px;
}

form input {
  padding: 5px 10px;
  text-align: center;
  width: 400px;
}

form button {
  background-color: #79B4B7;
  border: 1px solid #9D9D9D;
  border-radius: 10px;
  color: #FEFBF3;
  cursor: pointer;
  font-size: 19px;
  padding: 5px;
}